@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.game-arena {
    @apply w-full h-[30vh] sm:h-[35vh] md:h-[36vh] lg:h-[37vh] xl:h-[47vh] border-0 m-0 p-0 overflow-hidden;
}

.smooth-300 {
    @apply transition duration-300 ease-in-out;
}

.smooth-500 {
    @apply transition duration-500 ease-in-out;
}

.link {
    @apply text-cod-gray-700 dark:text-cod-gray-100 underline underline-offset-2 decoration-cod-gray-500/50 dark:decoration-cod-gray-500 hover:text-rose-600 dark:hover:text-rose-300 hover:decoration-cod-gray-300 dark:hover:decoration-rose-900 transition duration-500 ease-in-out;
}

.btn-small {
    @apply w-6 h-6 p-[0.2rem] rounded bg-cod-gray-400/70 dark:bg-cod-gray-800 hover:bg-cod-gray-400 dark:hover:bg-rose-700 hover:text-cod-gray-100 dark:hover:text-cod-gray-50 transition duration-300 ease-in-out cursor-pointer shadow shadow-cod-gray-500 dark:shadow-black;
}

.fade-hero-light {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c2c5cc+0,c2c5cc+100&0+0,0.2+0,1+100 */
    background: linear-gradient(to bottom,  rgba(194,197,204,0.2) 0%,rgba(194,197,204,1) 100%);
}

.fade-hero {

    /* pale sky */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e2024+0,1e2024+100&0+0,0.25+0,1+100 */
    background: linear-gradient(to bottom,  rgba(30,32,36,0.25) 0%,rgba(30,32,36,1) 100%);


    /* fedora */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#151515+1,151515+100&0+0,0.25+0,1+100 */
    /* background: linear-gradient(to bottom,  rgba(21,21,21,0.25) 0%,rgba(21,21,21,0.26) 1%,rgba(21,21,21,1) 100%); */

    /* cod-gray */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#111827+0,111827+100&0+0,0.25+0,1+100 */
    /* background: linear-gradient(to bottom,  rgba(17,24,39,0.25) 0%,rgba(17,24,39,1) 100%); */

    /* dark-blue */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2700d0+0,2700d0+100&0+0,0.25+0,1+100 */
    /* background: linear-gradient(to bottom,  rgba(39,0,208,0.25) 0%,rgba(39,0,208,1) 100%); */
}

.fade {
    /* cod-gray */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#181818+0,181818+100&0+0,0.85+0,0.85+100 */
    background: linear-gradient(to bottom,  rgba(24,24,24,0.85) 0%,rgba(24,24,24,0.85) 100%);
    
    /* dark-blue */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2700d0+0,2700d0+100&0+0,0.85+0,0.85+100 */
    /* background: linear-gradient(to bottom,  rgba(39,0,208,0.85) 0%,rgba(39,0,208,0.85) 100%); */
}

.fade-nav-light {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c2c5cc+0,c2c5cc+100&0.85+0,0.85+100 */
    background: linear-gradient(to bottom,  rgba(194,197,204,0.85) 0%,rgba(194,197,204,0.85) 100%); 
}

.fade-nav {
    /* cod-gray */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#181818+0,181818+100&0.85+0,0.85+100 */
    background: linear-gradient(to bottom,  rgba(24,24,24,0.85) 0%,rgba(24,24,24,0.85) 100%); 

    
    /* dark-blue */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2700d0+0,2700d0+100&0.85+96,0+100 */
    /* background: linear-gradient(to bottom,  rgba(39,0,208,0.85) 0%,rgba(39,0,208,0.85) 96%,rgba(39,0,208,0) 100%); */

}


/* SPINNER */
.spinner {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
}

.spinner .path {
    stroke: #0ea5e9;
    /* stroke: #8f967f; */
    stroke-linecap: round;
    -webkit-animation: dash 1.5s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite;
}

@-webkit-keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

.loader-71 {
    width: 100%;
    height: 8px;
    overflow: hidden;
}

.loader-71::after {
    content: "";
    width: 192px;
    height: 8px;
    background: #e11d48;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: animloader71 1.5s linear infinite;
            animation: animloader71 1.5s linear infinite;
}

@-webkit-keyframes animloader71 {
    0% {
        left: 0;
        transform: translateX(-100%);
    }
    100% {
        left: 100%;
        transform: translateX(0%);
    }
}
@keyframes animloader71 {
    0% {
        left: 0;
        transform: translateX(-100%);
    }
    100% {
        left: 100%;
        transform: translateX(0%);
    }
}

.skeleton {
    @apply rounded-lg bg-gradient-to-br from-cod-gray-700 via-cod-gray-700/50 animate-pulse;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #181818;
    border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #404040;
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #4a4a4a;
}

.lazy-load-container[data-loaded="false"] img {
    filter: blur(10px); /* Optional: Blur the image until it's fully loaded */
}

.lazy-load-container[data-loaded="true"] img {
    filter: none;
    transition: filter 0.3s ease; /* Optional: Smooth transition */
}